body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(90deg,blue,purple);
    min-width: 860px;
    overflow: hidden;
}
.formulario{
    width: 30vw;
    height: 60vh;
    background-color: rgba(228, 228, 228, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    min-width: 256px;
    min-height: 264px;
}
.form{
    background-color: rgba(228, 228, 228, 0.493);
    display: flex;
    border-radius: 20px;
    width: 25vw;
    height:35vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 214px;
    min-height: 171px;
    
}
.campos{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 10vh;
    justify-content: center;
}
input#contrasenha{
    border-radius: 20px;
    border:none;
    width: 15vw;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: gray;
}
span{
    font-family: sans-serif;
    font-size: max(5px, 15px);
    font-weight: bolder;
    color: white;
    min-width: 153px;
    min-height: 22px;
}
label{
    margin-bottom: 15px;
}
.titulo{
    transform: translateY(-20px);
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: bolder;
    color: white;
}
button.botao{
    transform: translateY(20px);
    width: 10vw;
    height: max(15px, 40px);
    border: none;
    border-radius: 20px;
    color: gray;
    font-size: max(5px, 15px);
    font-family: sans-serif;
    font-weight: bold;
}
button:hover{
    color: black;
    font-size: 18px;
    transition-duration: .4s;
}
.conteudo{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.modal-title{
    font-family: sans-serif;
    font-size: 22px;
}